{
  "latlng": {
    "lat": "{{ site_data.latitude }}",
    "lng": "{{ site_data.longitude }}"
  },
  "address": "{{ site_data.physical_address }}",
  "timezone": "{{ site_data.time_zone }}",
  "country_code": "US",
  "name": "{{ site_data.name }}"
}