{
  "ssid": "{{ cleaned_site_name }}-wlan1",
  "enabled": true,
  "auth": {
    "type": "psk",
    "psk": "bpgas123",
    "multi_psk_only": false
  },
  "band": "both",
  "band_steer": false,
  "band_steer_force_band5": false,
  "hide_ssid": false
}
